$primary-color: #004643;
$green2: #15bbad;
$green: #adce49;
$red: #f3726d;
@font-face {
    font-family: 'Kreon';
    src: url('../assets/fonts/kreon/Kreon-Light.ttf');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kreon';
    src: url('../assets/fonts/kreon/Kreon-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Kreon';
    src: url('../assets/fonts/kreon/Kreon-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
  }


  p, span, .input-wrapper {
      font-family: 'Kreon';
  }

  h1, h2, h3, 
  .card-title, 
  .card-title-ios, 
  .toolbar-title, 
  .toolbar-title-ios,
  .back-button, 
  .show-back-button,
  .bar-button-default-ios, 
  .bar-button-default.bar-button-ios-default, 
  .bar-button-clear-ios-default,
  .bar-button-default-md, 
  .bar-button-clear-md-default, 
  .bar-button-md-default,
  .item-ios,
  .item-md,
  .button-clear-ios,
  .button-clear-md {
    font-family: 'Kreon';
    font-weight: 600;
    color: $primary-color;
  }
  .btn-green {
    background: $green2;
    color: #ffffff;
  }